<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> <b>List</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img [src]="url" height="200"> <br/>
  <ion-input type='file' (change)="onSelectFile($event)"></ion-input>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            {{custs.name}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col  size="12">
        <ion-item>
          <ion-label>
            {{custs.email}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            {{custs.mobile}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-list-header>
          <ion-label><b>Interest</b></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let interest of custs.interset;  ">
          <ion-label>
            {{interest.title}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button (click)="routeclick(custs)" fill="clear" expand="block">edit</ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>

</ion-content>